################################################################################
### Default behavior
################################################################################
*                   text=auto

################################################################################
### C# source file behavior
################################################################################
*.cs                text        diff=csharp
*.csproj            text                        eol=crlf
*.sln               text                        eol=crlf

################################################################################
### Documentation files
################################################################################
*.md                text        diff=markdown
*.mdx               text        diff=markdown

################################################################################
### Image files
################################################################################
*.bmp               binary
*.gif               binary
*.icns              binary
*.ico               binary
*.jpeg              binary
*.jpg               binary
*.png               binary
*.svg               binary
*.tif               binary
*.tiff              binary
*.webp              binary
*.webm              binary

################################################################################
### Script files
################################################################################
*.bash              text                        eol=lf
*.sh                text                        eol=lf
*.bat               text                        eol=crlf
*.cmd               text                        eol=crlf
*.ps1               text                        eol=crlf

################################################################################
### Serialization files
################################################################################
*.json              text
*.xml               text
*.yml               text
*.yaml              text

################################################################################
### MonoGame Files
################################################################################
*.mgfxo             binary

################################################################################
### Git files
################################################################################
.gitattributes      export-ignore
.gitignore          export-ignore
.gitkeep            export-ignore
